/*Variables*/
:root {
    --primary-color: #334EEF;
 
    --secondary-color: #6772D7;
  
    --neutral-color: #333333;

    --background-color: #F5F8FF;

    --surface-color: #435DEF;

    --lobster-font: 'Lobster', sans-serif;
    --sans-font: 'DM Sans', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*Genera style: The style that is going to be applied to
 all the elemnts.*/
html {
    background-color: var(--background-color);
    font-size: 14px;
}

* {
    font-family: var(--sans-font);
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/*Text Style*/
h1 {
    color: var(--neutral-color);
    font-size: 2rem; 
    text-transform: uppercase;
}

h2 {
    color: var(--primary-color);
    font-family: var(--lobster-font);
    font-weight: 400;
    letter-spacing: 0.06rem;
    font-size: 1.8rem;
}

p {
    color: var(--neutral-color);
    font-size: 1.1rem;
}

.text-label { 
    color:white;
    background-color: var(--secondary-color);
    font-size: 1.1rem;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    cursor:initial;
}

/*Body*/
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
